paper-dialog {
  padding: 2em;
  width: 90%;
  @apply(--layout-vertical);
  @apply(--data-table-filter-dialog);
}
.comparison {
  width: 2em;
}
paper-dialog-scrollable {
  display: block;
  height: 80%;
  overflow-y: auto;
}

.filter-icon {
  z-index: 2; 
  position: absolute;
  top: 0;
  right: 2em;
  @apply(--filter-icon);
}
.filter-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  z-index: 3;
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 2.5em;
}

@media (min-width: 864px) {
  paper-dialog {
    width: 50%;
    @apply(--data-table-filter-dialog-large);
  }
  .comparison {
    width: 8em;
  }
}