<dom-module id="data-table-column-filter-dialog">
  <link rel="import" type="css" href="data-table-column-filter-dialog.css">

  <template>
      <iron-media-query query="(min-width: 864px)" query-matches="{{fullbleed}}"></iron-media-query>
      <paper-icon-button icon="filter-list" class="filter-icon" on-tap="_openFilterDialog"></paper-icon-button>
      <template is="dom-if" if="[[filterCount]]">
       <div class="filter-badge">[[filterCount]]</div>
      </template>
      <paper-dialog modal id="filterDialog">
        <h3>[[ webL10n(l10n, 'grid.filters') ]]</h3>
        <paper-dialog-scrollable>
            <form is="iron-form" id="filterForm" class="layout vertical flex">
            <template is="dom-repeat" items="{{ columns }}" as="column">
              <template is="dom-if" if="[[ _checkFilterType(column.filterType, column.filterValue) ]]" restamp>
                <template is="dom-bindref" bind="{{ column }}" ref="[[ column.filterType ]]"></template>
              </template>
            </template>
            </form>
        </paper-dialog-scrollable>
        <template is="dom-template" id="text">
          <paper-input label="[[ item.name ]]" value="{{ item.filterValue.0 }}"></paper-input>
        </template>
        <template is="dom-template" id="number">
         <!--  <template is="dom-repeat" items="[[ _comparisons ]]" as="comparison"> -->
              <div class="layout horizontal flex">
                <paper-input class="comparison flex-0" noink readonly value="[[ _comparisons.0.forNumber ]]" hidden$="{{!fullbleed}}"></paper-input>
                <paper-input class="comparison flex-0" noink readonly value="[[ _comparisons.0.value ]]" hidden$="{{fullbleed}}"></paper-input>
                <paper-input class="flex" label="[[ item.name ]]" type="[[ item.filterType ]]" value="{{ item.filterValue.0 }}"></paper-input>
                <paper-input class="comparison flex-0" noink readonly value="[[ _comparisons.1.forNumber ]]" hidden$="{{!fullbleed}}"></paper-input>
                <paper-input class="comparison flex-0" noink readonly value="[[ _comparisons.1.value ]]" hidden$="{{fullbleed}}"></paper-input>
                <paper-input class="flex" label="[[ item.name ]]" type="[[ item.filterType ]]" value="{{ item.filterValue.1 }}"></paper-input>
              </div>
         <!--  </template> -->
        </template>
        <template is="dom-template" id="date">
          <!-- <template is="dom-repeat" items="[[ _comparisons ]]" as="comparison"> -->
              <div class="layout horizontal flex">
                <paper-input class="comparison" readonly value="[[ _comparisons.0.forDate ]]" hidden$="{{!fullbleed}}"></paper-input>
                <paper-input class="comparison" readonly value="[[ _comparisons.0.value ]]" hidden$="{{fullbleed}}"></paper-input>
                <paper-date-time-input class="flex" date="{{ item.filterValue.0 }}" type="[[ item.filterType ]]" label-date="[[ item.name ]]" date-format="DD MMM YYYY" time-format="HH:mm:ss"></paper-date-time-input>
                <paper-input class="comparison flex-0" noink readonly value="[[ _comparisons.1.forDate ]]" hidden$="{{!fullbleed}}"></paper-input>
                <paper-input class="comparison flex-0" noink readonly value="[[ _comparisons.1.value ]]" hidden$="{{fullbleed}}"></paper-input>
                <paper-date-time-input class="flex" date="{{ item.filterValue.1 }}" type="[[ item.filterType ]]" label-date="[[ item.name ]]" date-format="DD MMM YYYY" time-format="HH:mm:ss"></paper-date-time-input>
              </div>
          <!-- </template> -->
        </template>
        <template is="dom-template" id="list">
          <paper-tags-dropdown noink class="filterList" label="[[ item.name ]]" id-accessor="[[ item.idAccessor ]]" label-accessor="[[ item.labelAccessor ]]" value-array="{{ item.filterValue }}"
           items="[[ item.filterList ]]" source="[[ item.filterSource ]]"></paper-tags-dropdown>
        </template>
        <template is="dom-template" id="boolean">
          <paper-radio-group selected="{{item.filterValue.0}}" allow-empty-selection>
            <paper-radio-button name="true">[[ item.name ]]</paper-radio-button>
            <paper-radio-button name="false">[[ webL10n(l10n, 'grid.filterNot') ]]&nbsp;[[ item.name ]]</paper-radio-button>
          </paper-radio-group>
        </template>
        <div class="buttons">
          <paper-button dialog-dismiss raised>[[ webL10n(l10n, 'common.cancel') ]]</paper-button>
          <paper-button dialog-confirm raised on-tap="_resetFilters">[[ webL10n(l10n, 'grid.resetFilters') ]]</paper-button>
          <paper-button dialog-confirm raised on-tap="_applyFilters">[[ webL10n(l10n, 'grid.apply') ]]</paper-button>
        </div>
      </paper-dialog>
  </template>
  <script type="text/javascript" src="data-table-column-filter-dialog.js"></script>
</dom-module>
